name: citeai_flutter
description: Cross-platform academic paper generator

version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  flutter_quill: ^8.3.0
  provider: ^6.1.1
  flutter_riverpod: ^2.5.0
  go_router: ^14.0.0
  flutter_hooks: ^2.0.0
  animations: ^2.0.8

flutter:
  uses-material-design: true
  assets:
    - assets/
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.ttf
        - asset: assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter-SemiBold.ttf
          weight: 600

  generate: true